@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
*{
  margin: 0;
  padding: 0;
}
// body {
  
// }

///////Main Grid//////
.cont{
  max-width: 1100px;
  margin: 0 auto;
  @media (max-width: 1200px){
    max-width: 750px;
  }
  @media (max-width: 830px){
    padding: 0 40px;
  }  
}

///////Variables///////
$primary-color: #056A9D;
$secondary-color: #A84577;


//////Typography/////////
.title{
  font-family: "Montserrat";
  &--hero{
    color: $primary-color;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 3px;
    @media (max-width: 1300px){
      font-size: 32px;
    }
    @media (max-width: 1100px){
      font-size: 26px;
    }
    @media (max-width: 767px){
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 1.2;
    }
  }
  &--herosmall{
    font-size: 28px;
    color: $secondary-color;
    @media (max-width: 1300px){
      font-size: 22px;
    }
    @media (max-width: 1100px){
      font-size: 16px;
    }
    @media (max-width: 767px){
      font-size: 14px;
    }
  }
  &--heromid{
    font-size: 30px;
    @media (max-width: 1300px){
      font-size: 26px;
    }
    @media (max-width: 1100px){
      font-size: 20px;
    }
    @media (max-width: 1100px){
      font-size: 16px;
    }
  }

  &--show{
    font-family: "Montserrat Regular";
    font-size: 40px;
    line-height: 1.2;
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
    @media (max-width: 1200px){
      font-size: 30px;
      margin-bottom: 30px;
    }
    @media (max-width: 650px){
      font-size: 22px;
      margin-bottom: 16px;
    }
  }
  &--policy{
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: $primary-color;
    margin-bottom: 20px;
    @media (max-width: 750px){
      font-size: 26px;
      margin-bottom: 10px;
    }
  }

  &--cardtitle{
    font-size: 28px;
    text-align: center;
    color: #1C3144;
    margin-bottom: 30px;
    @media (max-width: 750px){
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &--footer{
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
    @media (max-width: 650px){
      font-size: 16px;
    }
  }
}


.text{
  font-family: "Montserrat Regular";
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  text-align: center;
  @media (max-width: 1200px){
    font-size: 18px;
  }
  @media (max-width: 650px){
    font-size: 14px;
    line-height: 1.7;
  }
  &--parchase{
    color: $primary-color;
  }
  &--ftrlnk{
    font-size: 14px;
    color: $primary-color;
    text-decoration: none;
    &:nth-child(2){
      margin-left: 15px;
    }
  }
}





///// Main Css//////
.carnival{
  border: 40px solid;
  border-image-source: url("/images/VectorSmartObject@1X.png");
  border-image-slice: 35;
  // background-image: url("/images/Group5.svg");
  // background-position: top left;
  // background-repeat: no-repeat;
  position: relative;
  @media (max-width: 870px){
    border: 30px solid;
    border-image-source: url("/images/VectorSmartObject@1X.png");
    border-image-slice: 35;
  }

  &__mainbdr{
    position: absolute;
    top: -9px;
    left: -10px;
    z-index: 8;
    @media (max-width: 1560px){
      top: -10px;
    }
    @media (max-width: 1100px){
      width: 40px;
      height: 40px;
    }
    @media (max-width: 870px){
      width: 33px;
      height: 33px;
      top: -8px;
      left: -7px;
    }
    @media (max-width: 700px){
      width: 50px;
      height: 50px;
      top: -8px;
      left: -7px;
    }
  }

  &__mainbdrr{
    position: absolute;
    top: -9px;
    right: -10px;
    z-index: 8;
    @media (max-width: 1560px){
      top: -10px;
    }
    @media (max-width: 1100px){
      width: 40px;
      height: 40px;
    }
    @media (max-width: 870px){
      width: 33px;
      height: 33px;
      top: -8px;
      right: -7px;
    }
    @media (max-width: 700px){
      width: 50px;
      height: 50px;
      top: -8px;
      right: -7px;
    }
  }
  /////Hero Section////
  .hero{
    position: relative;
    margin-top: -5px;
    z-index: -1;

    
    &__mimg{
      width: 100%;
      @media (max-width: 980px){
       height: 45vh;
      }
      @media (max-width: 800px){
        height: 45vh;
        object-fit: cover;
       }
    }
    &__lmpicn{
      position: absolute;
      top: 0;
      left: 65px;
      @media (max-width: 1570px){
        left: 50px;
      }
      @media (max-width: 1300px){
        left: 40px;
        width: 110px;
      }
      @media (max-width: 767px){
        left: 25px;
        width: 65px;
      }
    }
    &__logo{
      position: absolute;
      top: 35px;
      left: 300px;
      @media (max-width: 1570px){
        left: 250px;
      }
      @media (max-width: 1300px){
        left: 165px;
        width: 100px;
      }
      @media (max-width: 1300px){
        top: 50px;
        left: 50%;
        transform: translate(-50%, -40px);
        width: 100px;
      }
    }
    &__strlgo{
      position: absolute;
      top: -10px;
      right: 55px;
      @media (max-width: 1570px){
        right: 40px;
      }
      @media (max-width: 1300px){
        right: 35px;
        width: 120px;
        top: -20px;
      }
      @media (max-width: 767px){
        right: 20px;
        width: 80px;
        top: -10px;
      }
      @media (max-width: 700px){
        right: 40px;
        top: -6px;
      }
      @media (max-width: 450px){
        right: 3px;
        top: 10px;
      }
    }
    &__ballicn{
      position: absolute;
      bottom: 0;
      left: 50.5%;
      transform: translate(-50.5%, 0);
      width: 120px;
      height: 90px;
    }
    &__titlewrp{
      position: absolute;
      top: 15%;
      left: 80%;
      transform: translate(-80%, -15%);
      min-width: 600px;
      @media (max-width: 1570px){
        top: 23%;
        transform: translate(-80%, -23%);
      }
      @media (max-width: 1450px){
        left: 90%;
        transform: translate(-90%, -23%);
      }
      @media (max-width: 1300px){
        left: 100%;
        transform: translate(-100%, -23%);
      }
      @media (max-width: 1140px){
        left: unset;
        right: 10%;
        transform: translate(10%, -23%);
        min-width: 490px;
      }
      @media (max-width: 1140px){
        left: unset;
        right: 10%;
        transform: translate(10%, -23%);
        min-width: 375px;
      }
      @media (max-width: 767px){
        min-width: 300px;
        top: 28%;
      }
    }
  }

  ////Icon Wrap//////
  .criconwrp{
    text-align: center;
    &__img{
      margin-top: -55px;
    }
    // padding: 85px 40px;
    // img{
    //   width: 25px;
    //   height: 25px;
    // }
    // &__one{
    //   transform: translate(240px, 80px);
    // }
    // &__two{
    //   transform: translate(95px, 85px);
    // }
    // &__three{
    //   transform: translate(105px, 20px);
    // }
    // &__four{
    //   transform: translate(-115px, 0px);
    // }
    // &__five{
    //   transform: translate(-95px, 70px);
    // }
    // &__six{
    //   transform: translate(-70px, -30px);
    // }

    // @media (max-width: 650px){
    //   img{
    //     width: 15px;
    //     height: 15px;
    //   }
    //   &__one{
    //     transform: translate(170px, 50px);
    //   }
    //   &__two{
    //     transform: translate(45px, 60px);
    //   }
    //   &__three{
    //     transform: translate(75px, 5px);
    //   }
    //   &__four{
    //     transform: translate(-150px, -20px);
    //   }
    //   &__five{
    //     transform: translate(-110px, 50px);
    //   }
    //   &__six{
    //     transform: translate(-70px, -60px);
    //   }
    // }
    
  }

  /////Middle Wrapper////
  .crmidwrp{
    position: relative;
    background-image: url("/images/round-radious.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    &::before{
      content: url("/images/Untitled-9.png");
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    &::after{
      content: url("/images/Untitled-10.png");
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      @media (max-width: 540px){
        top: 30%;
      }
    }
    @media (max-width: 1250px){
      margin-top: -25px;
    }

    &__gplusimg{
      position: absolute;
      bottom: 70px;
      left: 40px;
      @media (max-width: 950px){
        left: 10px;
      }
    }
    &__yplusimg{
      position: absolute;
      bottom: 70px;
      right: 40px;
      @media (max-width: 950px){
        right: 10px;
      }
    }
  }

  .crshowcare{
    margin-bottom: 80px;
  }

  ///Policy/////
  .crpolicy{
    &__tpwrp{
      margin-bottom: 40px;
    }
    &__cardwrp{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      @media (max-width: 700px){
        grid-template-columns: 1fr;
      }
    }
    &__cards{
      display: flex;
      flex-direction: row;
      position: relative;
      // z-index: 3;
    }
  }

  ////Purchase Carnival/////
  .crprchwrp{
    position: relative;
    padding: 130px 0;
    overflow: hidden;
    @media (max-width: 650px){
      padding: 75px 0;
    }
    &::before{
      content: url("/images/prchsbefore.png");
      position: absolute;
      left: -70px;
      top: 90px;
      z-index: -1;
      @media (max-width:1050px){
        left: -110px;
      }
    }
    &::after{
      content: url("/images/prchsafter.png");
      position: absolute;
      right: -70px;
      top: 90px;
      z-index: -1;
      @media (max-width:1050px){
        right: -110px;
      }
    }
    .crprchcrnvl{
      @media (max-width: 1270px){
        padding: 0 25px;
      }
      &__card{
        background: #E6E6E6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 40px;
        border-radius: 5px;
        @media (max-width: 1200px){
          flex-direction: column;
        }
        @media (max-width: 650px){
          padding: 50px 20px;
        }
        &__btn{
          font-size: 14px;
          font-family: "Montserrat Regular";
          background: $primary-color;
          color: #fff;
          text-decoration: none;
          background: #056A9D;
          color: #fff;
          text-decoration: none;
          padding: 18px 30px;
          border-radius: 26px;
          display: flex;
          align-items: center;
          @media (max-width: 1200px){
            margin-top: 20px;
          }
          @media (max-width: 650px){
            padding: 15px 25px;
          }
        }
      }
    }
    .btnarrowicon{
      width: 16px;
      height: 16px;
      margin-left: 10px;
    }
  }

  .footer{
    background:#F5F8F9;
    padding: 40px 50px 20px;
    @media (max-width: 650px){
      padding: 40px 30px 20px;
    }
    position: relative;
    &::before{
      content: "";
      background-image: url("/images/Group53.svg");
      background-repeat: no-repeat;
      position: absolute;
      bottom: -10px;
      left: -10px;
      width: 50px;
      height: 50px;
      @media (max-width: 870px){
        bottom: -8px;
        left: -8px;
      }
    }

    &::after{
      content: "";
      background-image: url("/images/Group54.svg");
      background-repeat: no-repeat;
      position: absolute;
      bottom: -9px;
      right: -10px;
      width: 50px;
      height: 50px;
      @media (max-width: 870px){
        bottom: -8px;
        right: -8px;
      }
    }
    &__tpwrp{
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      grid-gap: 40px;
      border-bottom: 2px solid #D7E1E3;
      padding-bottom: 30px;
      margin-bottom: 30px;
      @media (max-width: 1239px){
        grid-template-columns: 0.5fr 1fr;
      }
      @media (max-width: 1150px){
        grid-template-columns: 1fr;
      }
    }
    &__lft{
      border-right: 2px solid #D7E1E3;
      padding-right: 20px;
      @media (max-width: 1150px){
        border-right: 0;
        border-bottom: 2px solid #D7E1E3;
        padding-right: 0;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__rgt{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      @media (max-width: 850px){
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
      }
      @media (max-width: 567px){
        grid-template-columns: 1fr;
        grid-gap: 30px;
      }
    }
    &__sclwrp{
      display: flex;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    &__sclicns{
      display: block;
      width: 30px;
      height: 30px;
    }
    &__sclicns:not(:last-child){
      margin-right: 15px;
    }
    &__sclicn{
      width: 30px;
      height: 30px;
    }
    &__addrs{
      display: flex;
      &:not(:last-child){
        margin-bottom: 25px;
      }
    }
    &__text{
      font-family: "Montserrat Regular";
      font-size: 15px;
      line-height: 1.2;
      color: #1C3144;
      span{
        display: block;
        font-size: 13px;
        color: $primary-color;
        margin-top: 10px;
      }
    }
    &__addrsicn{
      margin-right: 10px;
    }
    &__itmlst{
      list-style: none;
    }
    &__itm{
      font-family: "Montserrat Regular";
      font-size: 14px;
      &:not(:last-child){
        margin-bottom: 10px;
      }
      @media (max-width: 650px){
        font-size: 12px;
        &:not(:last-child){
          margin-bottom: 15px;
        }
      }
    }
    &__itmlnk{
      color: $primary-color;
      text-decoration: none;
    }
    &__rgtgrdlst{
      &:not(:last-child){
        margin-bottom: 30px;
      }
    }
    &__btmwrp{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 850px){
        flex-direction: column;
      }
    }
    &__btmrgt{
      @media (max-width: 850px){
        margin-top: 10px;
      }
    }
  }
  
}



////////Policy Card/////////
.policycard{
  display: flex;
  flex-direction: column;
  text-align: center;
  &__img{
    width: 100%;
  }
  &__dscwr{
    padding: 0 15px;
  }
  &__dscwrp{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -40px;
    position: relative;
    // z-index: 999;
    padding: 0 20px;
  }
  &__maindesc{
    display: flex;
    flex-direction: row;
  }
  &__txt{
    flex-grow: 1;
  }
  &__btn{
    font-family: "Montserrat Regular";
    font-size: 20px;
    line-height: 1.2;
    color: $primary-color;
    text-decoration: none;
    margin-top: 40px;
    cursor: pointer;
    &__icn{
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-bottom: -4px;
    }
    @media (max-width: 750px){
      font-size: 17px;
    }
  }
}


